.slider{
    width: 100%;
    margin-top: 135px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title-top{
        font-size: 16px;
        font-weight: 700;
        color: #FF9800;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .title-bottom{
        font-size: 38px;
        color: #0b0b31;
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
        line-height: 1.4;
    }
    .slider-parent{
        width: 80%;
        display: flex;
        margin-top: 85px !important;
        grid-gap: 15px !important;
        .swiper-slide{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 356.667px;
            height: 450px;
            margin: 25px !important;
            background: #fafafa;
            .inner-slide-component{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                .slider-typography{
                    margin-top: 15px !important;
                    font-size: 15px;
                    color: #333;
                    font-style: italic;
                    width: 80%;
                    line-height: 1.8;
                    letter-spacing: 1px;
                }
            }
        }
    }
}
/* Media Rules */
@media (max-width:992px){
    .slider{
        .slider-parent{
            width: 80%;
            display: flex;
            margin-top: 85px !important;
            grid-gap: 15px !important;
            .swiper-slide{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 356.667px;
                height: 450px;
                margin: 25px !important;
                background: #fafafa;
                .inner-slide-component{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    text-transform: capitalize;
                    .slider-typography{
                        margin-top: 15px !important;
                        font-size: 15px;
                        color: #333;
                        font-style: italic;
                        width: 80%;
                        line-height: 1.8;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}